* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site-name {
  font-weight: 900;
  font-size: 10vh;
}

div {
  font-size: 3vh;
}

.artwork-title {
  font-style: italic;
}

.username, .seen-ratio, .new-artwork-button, .sort-button, .logout-button {
  margin: 1vh;
}

.button {
  background-color: black;
  color: lightgray;
  text-align: center;
  border-radius: 8px;
  transition-duration: 0.4s;
  font-size: 2vh;
}

.button:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.outer-login-container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(https://www.investatlanta.com/assets/developers_newmarkettaxcredits_mantle_940x360_V1rQmP8.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.middle-login-container {
  display: table-cell;
  vertical-align: middle;
}

.inner-login-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 5px solid black;
  border-radius: 8px;
  background: white;
}

.login-form-container {
  margin: 5%;
  text-align: center;
}

input, textarea, select {
  margin: 5px;
  font-size: 2vh;
}

.separator {
  margin: 5px;
}

.site-name-container {
  text-align: center;
  height: 15vh;
  margin-bottom: 5%;
}

.header-container {
  height: 50vh;
  margin: auto;
  display: block;
}

.header-map-container {
  width: 40%;
  max-width: 40%;
  height: 0;
  padding-bottom: 40%;
  float: left;
  position: relative;
  margin-left: 20%; 
}

@media screen and ( max-width: 200px) {
  .header-map-container {
    margin-left: 150px; 
  }
}

.profile-container {
  margin-left: 60%;
  height: 100%;
  margin-right: 20%;
  padding: 5%;
}

.user-info {
  border: 4px solid black;
  border-radius: 8px;
}

.body-container {
  margin-top: 15%;
  margin-left: 8%;
  width: 80%;
  position: absolute;
}

.card-container {
  margin: auto;
  height: 0;
  padding-bottom: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: 50vh;
  grid-gap: 15px;
}

.card-info {
  position: relative;
  opacity: 0;
  color: lightgray;
  background: #000000;
  transition: opacity 0.4s;
  object-fit: cover;
  display: block;
  bottom: 50%;
  text-align: right;
  width: 101.5%;
}

.card:hover .card-info {
  opacity: 1;
  cursor: pointer;
}

.card:hover .card-image {
  filter: grayscale(100%);
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  object-fit: cover;
  border: 4px solid black;
  border-radius: 8px;
}

.modal__content {
  border: 5px solid black;
  border-radius: 8px;
}

.ReactModal__Content {
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  top: 2.5rem;
  bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,97,0.5);
  overflow: auto;
  border-radius: 8px;
  outline: none;
  width: 50%;
  margin: auto;
  height: 45%;
}

.details-modal .ReactModal__Content {
  width: 70%;
  height: 70%;
}

.new-artwork-modal .ReactModal__Content {
  width: 40%;
  height: 45%;
}

.sort-modal .ReactModal__Content {
  width: 50%;
  height: 20%;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.details-header {
  display: block;
  margin-bottom: 1px;
  clear: both;
}

.details-map-container {
  width: 50%;
  height: 0;
  padding-bottom: 40%;
  float: left;
  position: relative;
}

.details-tombstone {
  text-align: center;
  padding-top: 10%;
}

.details-profile {
  margin: 5%;
}

.details-image {
  max-width: 100%;
  margin-top: 5%;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.details-source {
  color: gray;
  font-size: 2vh;
  margin: 5%;
}

.details-source a {
  color: gray;
  font-size: 2.5vh;
}

#close-button {
  float: right;
}